Source: gerrit
Section: misc
Priority: extra
Maintainer: Rashit Azizbaev <syndicut@yandex-team.ru>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/gerrit/

Package: gerrit
Architecture: any
Depends: ${misc:Depends}, java6-runtime, libmysql-java, libbcprov-java, openssh-client, adduser
Description: Web based code review system
 Gerrit is a web based code review system, facilitating online code reviews for projects using the Git version control system.