Source: gerrit
Section: misc
Priority: extra
Maintainer: Rashit Azizbaev <syndicut@yandex-team.ru>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/gerrit/

Package: gerrit
Architecture: all
Pre-Depends: java6-runtime
Depends: ${misc:Depends}, libmysql-java, libbcprov-java, openssh-client, adduser
Description: Web based code review system
 Gerrit is a web based code review system, facilitating online code reviews for 
 projects using the Git version control system.
 .
 Gerrit makes reviews easier by showing changes in a side-by-side display, and 
 allowing inline comments to be added by any reviewer.
 .
 Gerrit simplifies Git based project maintainership by permitting any authorized 
 user to submit changes to the master Git repository, rather than requiring all 
 approved changes to be merged in by hand by the project maintainer. This 
 functionality enables a more centralized usage of Git. 